.topProfile {
  display: flex;
  align-items: center;
  height: 10%;
  background-color: #fff;
  border-bottom: 1px #cccccc solid;

  .topProfileContent {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .topProfileTitleBlock {
      margin-left: 20px;

      .topProfileTitle {
        font-size: 24px;
      }

      .topProfileSupTitle {
        font-size: 16px;
        color: #808080;
        margin-top: 2px;
      }
    }

    .topProfileControlBlock {
      display: flex;
      align-items: center;
      margin-right: 20px;


      .topProfileControlImage {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border: 1px #cccccc solid;
        border-radius: 50%;
        cursor: pointer;
      }
      .topProfileControlLogin {
        font-size: 24px;
        cursor: pointer;
        color: #fe7137;
      }
    }
  }
}