.productInfo {
  margin-top: 40px;

  .productInfoContent {
    display: flex;
    justify-content: space-around;

    .productInfoImageBlock {
      display: flex;
      justify-content: center;
      width: 50%;

      .productInfoImage {
        width: 300px;
        height: 300px;
        border-radius: 50%;
      }
    }
    .productInfoTextBlock {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-right: 40px;

      .productInfoTitle {
        margin-top: 15px;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom: 1px #808080 solid;
        padding-bottom: 5px;
      }

      .productInfoParams {
        margin-top: 15px;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

      .productInfoPrice {
        font-size: 22px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 40px;
      }
    }
  }

  .productInfoBackBlock {
    display: flex;
    justify-content: space-around;
    margin-top: 140px;

    .productInfoBack {
      padding: 20px;
      background-color: #FE5F1E;
      border-radius: 20px;
      color: #fff;
      text-decoration: none;
    }
  }
}